<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="post" th:action="@{/}" th:object="${user}">
    <lable for="name">Name</lable>
    <input type="text" th:field="*{name}" id="/name"/>
    <br/>
    <br/>
    <lable for="surname">Surname</lable>
    <input type="text" th:field="*{surname}" id="/surname"/>
    <br/>
    <br/>
    <lable for="age">Age</lable>
    <input type="text" th:field="*{age}" id="/age"/>
    <br/>
    <br/>
    <lable for="email">Email</lable>
    <input type="text" th:field="*{email}" id="/email"/>
    <br/>
    <br/>
    <input type="submit" value="Add user"/>

</form>

</body>
</html>